@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="dark"] body {
  background-color: #121212;
}

/* dark mood  */

/* common  */
[data-theme="dark"] .textWhite {
  color: white;
}
[data-theme="dark"] .darkBg {
  background-color: #0e2954;
}

/* upper nav section  */
[data-theme="dark"] .darkBgUpperNav {
  background-color: #0e2954;
}

[data-theme="dark"] .darkTextUpperNav {
  color: white;
}
